*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

:root {
  font-family: "Figtree", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

button {
  padding: 0.6em 1.2em;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  background: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 250ms;
}

button,
input {
  border: 1px solid transparent;
}

button:focus,
button:focus-visible,
input:focus {
  outline: none;
  border: 1px solid transparent;
}
